@model BloodPressureManagement.Models.UserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>sinocare</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/css/xadmin.css">
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">个人中心</a>
            <a>
                <cite>个人信息</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:38px">ဂ</i>
        </a>
    </div>
    <div class="x-body">

        <xblock>
            个人信息
        </xblock>
        <xblock>
            <div class="x-body">
                <div class="layui-form">
                    <input type="hidden" value="@Model.Uid" name="Uid" />
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>姓名：
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="Uname" name="Uname" required lay-verify="required"
                                   autocomplete="off" class="layui-input" value="@Model.Uname">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>性别：
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="Usex" name="Usex" required lay-verify="required"
                                   autocomplete="off" class="layui-input" value="@Model.Usex">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>年龄：
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="Uage" name="Uage" required lay-verify="required"
                                   autocomplete="off" class="layui-input" value="@Model.Uage">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>联系电话：
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="phone" name="phone" required lay-verify="required|phone"
                                   autocomplete="off" class="layui-input" value="@Model.Phone">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>身份证：
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="IdentificationCard" name="IdentificationCard" required lay-verify="required|identity"
                                   autocomplete="off" class="layui-input" value="@Model.IdentificationCard">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>店铺名称：
                        </label>
                        <div class="layui-input-inline">
                            <select name="Bid">
                                @foreach (var item in ViewBag.Branch)
                                {
                                    if (Model.Bid == item.Bid)
                                    {
                                        <option value="@item.Bid" selected="selected">@item.Bnane</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Bid">@item.Bnane</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                        </label>
                        <button class="layui-btn" lay-submit="" lay-filter="add">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </xblock>
    </div>
    <script>
        layui.use(['laydate', 'form', 'layer'], function () {
            var laydate = layui.laydate,
                layer = layui.layer,
                form = layui.form,
                $ = layui.jquery;
            form.on("submit(add)", function (obj) {
                var user = obj.field;
                $.ajax({
                    type: "Post",
                    url: "/PersonalCenter/Update",
                    data: user,
                    success: function (result) {
                        if (result.Success == true) {
                            layer.open({
                                content: result.Message,
                                icon: 1,
                                end: function () {
                                    $("#Upwd").val = "null";
                                }
                            })
                        }
                        else {
                            layer.open({
                                content: result.Message,
                                icon: 5
                            })
                        }
                    }
                })
            })
        })
    </script>
</body>

</html>
